[user]
	email = leo@i544c.me
	name = i544c

[pager]
	log  = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less

[url "ssh://"]
  insteadOf = git://
[url "ssh://"]
  insteadOf = https://

[fetch]
	prune = true
[core]
	editor = vim
[interactive]
	diffFilter = diff-highlight
[diff]
	compactionHeuristic = true
